:root {
  --dark-bg-color: #2e2d2f;
  --light-bg-color: #fff;
  --primary: #f62b54;
  --secondary: #00bee0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease;
}

#root {
  height: 100%;
}
